.covid{
    background: orangered;
    display:flex;
    justify-content: center;
}

.covid a{
    color:#cddc29
}

.google{
    text-align:right;
}

.picture-background{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://www.sdparks.org/etc/designs/sdparks/sdparksdesign/clientlibs/img/parks-background-main-wood-grey.jpg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  padding: 60px 15px 100px;
  background-attachment: fixed;
  height:500px;
}

.green-background{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://www.sdparks.org/content/dam/sdparks/en/images/header-images/parks-background-main-wood-green.jpg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  padding: 60px 15px 100px;
  background-attachment: fixed;
  height:500px;
}

.footer{
background:black;
font:solid white;
display:flex;
height:180px;

}
.camping{
    position:relative;
    margin:10px;
    right: -100px;
    top:-25px;

}
.wedding{
    position:relative;
    margin:10px;
    right:-350px;
    top:-245px;
}
.fitness{
    position:relative;
    margin:10px;
    right:-600px;
    top: -468px;
}
.trails{
    position:relative;
    margin:10px;
    right:-250px;
    top:-460px;
}
.corporate{
    position:relative;
    margin:10px;
    right:-500px;
    top:-680px;
}
.find{
    position: relative;
    margin:10px;
    left:300px;

}
.volunteer{
    position:relative;
    margin:30px;
    left:100px;
}
.sponsor{
    position:relative;
    margin:10px;
    left:500px;
    bottom:110px;

}
.news{
    position:relative;
    margin:10px;
    left:300px;
    bottom: 80px;
}
@media screen and (max-width: 40em)
#parks-social {
    float: right;
    text-align: right;
    width: 85%;
}

#parks-social {
    float: right;
    margin-top: 1em;
}